{% extends 'base.html' %}
{% block title %}Academics{% endblock title %}
{% block header-img %}background:url(../static/Image/institute-fade.png)no-repeat center center/cover;{% endblock header-img %}

<!--/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
                                             hero section Text
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/-->
 {% block header %} 
 <div class="hero-text">
    <h1>Academics</h1>
 </div>
 {% endblock header %}
 {% block body %}
 <section class="Academics_Section">
    <a href="/"><div class="A-box1" id="a-box">#Think Technical</div></a>
    <a href=""><div class="A-box2" id="a-box">
      <h2>about teachers</h2>
      <img src="../static/Image/no-pic.png" alt="">
      <h2 class="A-heading">about teachers</h2>

    </div></a>

    <a href=""><div class="A-box3" id="a-box">
      <img src="../static/Image/no-pic.png" alt="">
      <h2>hackerthrons and other events</h2>
    </div></a>

    <a href=""><div class="A-box4" id="a-box">Clubs</div></a>
    <a href=""><div class="A-box5" id="a-box">
      <h2>Director's message</h2>
      <p>Welcome to the institute! Join us and look forward to a great year of learning and discovery. I commit to providing a safe, supportive, and enriching environment.</p>
    </div></a>

    <a href=""><div class="A-box6" id="a-box"></div></a>
    <a href=""><div class="A-box7" id="a-box"></div></a>
 </section>

 <Section class="highlight-section">
   <div class="heading">
      Academics <span>Highlight</span>
   </div>
   <div class="highlight">
       <div class="swiper mySwiper">
           <div class="swiper-wrapper">
             <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
             <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
             <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
             <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
             <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
             <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
             <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
             <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
             <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
           </div>
           <div class="swiper-button-next"></div>
           <div class="swiper-button-prev"></div>
           <div class="swiper-pagination"></div>
         </div>
   </div>

</Section>


<section class="Program-section">
  <div class="heading">
      Programs <span>Offered</span>
  </div>
  <div class="card-section">
      <div id="card">
          <img src="../static/Image/Civil.png" alt="Institute">
          <div class="card-heading">Civil Engineering</div>
          <p>involves the design, construction, and maintenance of infrastructure, such as buildings, bridges, and highways. Civil engineers use their knowledge of physics, mathematics, and materials science to ensure that the structures they design are safe, functional, and cost-effective</p>
          <a href="/Utu" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
      </div>
      <div id="card">
          <img src="../static/Image/Mechanical.png" alt="Institute">
          <div class="card-heading">Mechanical Engineering</div>
          <p>Focuses on the design, manufacturing, and maintenance of mechanical systems. Mechanical engineers design and develop a wide range of products, such as engines, machines, and manufacturing equipment. </p>
          <a href="/Director" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        
      </div>       
      <div id="card">
          <img src="../static/Image/Computer Science.png" alt="Institute">
          <div class="card-heading">Computer Science & Engineering</div>
          <p>An engineering field that deals with computer systems, software, and technology. It includes programming, algorithms, computer architecture, and artificial intelligence.</p>
          <a href="/Dean" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
      </div>  
    </div>
    <div class="card-section">
      <div id="card">
          <img src="../static/Image/A.I.png" alt="Institute">
          <div class="card-heading">AI & ML Engineering</div>
          <p>involves using principles of artificial intelligence and machine learning to design and develop intelligent systems. Engineers in this field create algorithms and models that enable machines to learn from data and make decisions based on that learning.             </p>
          <a href="/Utu" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
      </div>
      <div id="card">
          <img src="../static/Image/Robotics.png" alt="Institute">
          <div class="card-heading">Robotics Engineering</div>
          <p>Robotics combines mechanical, electrical, and computer engineering to design and build robots.            </p>
          <a href="/Director" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
      </div>       
      <div id="card">
          <img src="../static/Image/9.png" alt="Institute">
          <div class="card-heading">Admission Process</div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cumque quo sapiente amet illo! Dolore nam aut, veniam corrupti quod repellat animi perspiciatis molestiae quae eveniet cupiditate nulla ipsam obcaecati.</p>
          <a href="/Dean" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
      </div>  
    </div>
</section>


<section class="Program-section">
   <div class="heading">
        <span>Clubs</span>
   </div>
   <div class="card-section">
       <div id="card">
           <img src="../static/Image/14.png" alt="Institute">
           <div class="card-heading">E-Sports Club</div>
           <p>Institute’s eSports club is open to all students and encourages both new and experienced players to join. The team regularly hosts tournaments and other events to promote eSports.
          </p>
           <a href="/E_Sport" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
       </div>
       <div id="card">
           <img src="../static/Image/10.png" alt="Institute">
           <div class="card-heading">Techno Club</div>
           <p>The tech society serves as a platform for students to pursue their interests in technology and promotes a culture of innovation and collaboration among students and faculty.
          </p>
           <a href="/Techno" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
       </div>       
       <div id="card">
           <img src="../static/Image/11.png" alt="Institute">
           <div class="card-heading">LCA Drama Club</div>
           <p>LCA drama club’s mission is to bring together students of different backgrounds, and levels of experience for the purpose of producing and performing plays of all genres.</p>
           <a href="/Drama" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
       </div>  
     </div>
     <div class="card-section">
       <div id="card">
           <img src="../static/Image/12.png" alt="Institute">
           <div class="card-heading">Wave Music club</div>
           <p>The Music Club at Dr A.P.J Abdul Kalam Institute of Technology is a vibrant and creative organization dedicated to provide students with a space to explore, create, and express themselves through music.
          </p>
           <a href="/music" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
       </div>
       <div id="card">
           <img src="../static/Image/15.png" alt="Institute">
           <div class="card-heading">Technical club</div>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cumque quo sapiente amet illo! Dolore nam aut, veniam corrupti quod repellat animi perspiciatis molestiae quae eveniet cupiditate nulla ipsam obcaecati.</p><br>
           <a href="/Technical" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
       </div>       
       <div id="card">
           <img src="../static/Image/13.png" alt="Institute">
           <div class="card-heading">Start-up club</div>
           <p>The Startup Club at Institute is a great opportunity for students to explore their entrepreneurial ideas and gain valuable experience in the field of business and entrepreneurship.
          </p>
           <a href="/Dean" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
       </div>  
</div>
</section>

<section class="gallery-section1">
   <div class="heading" style="margin-bottom:20px;">
      <span>Gallery </span>
 </div>
   <div class="grid-container">
  <div>
    <img class='grid-item grid-item-1' src='../static/Image/no-pic.png' alt=''>
  </div>
  <div>
    <img class='grid-item grid-item-2' src='../static/Image/no-pic.png' alt=''>
  </div>
  <div>
    <img class='grid-item grid-item-3' src='../static/Image/no-pic.png' alt=''>
  </div>
  <div>
    <img class='grid-item grid-item-4' src='../static/Image/no-pic.png' alt=''>
  </div>
  <div>
    <img class='grid-item grid-item-5' src='../static/Image/no-pic.png' alt=''>
  </div>
  <div>
    <img class='grid-item grid-item-6' src='../static/Image/no-pic.png' alt=''>
  </div>
  <div>
    <img class='grid-item grid-item-7' src='../static/Image/no-pic.png' alt=''>
  </div>
  <div>
    <img class='grid-item grid-item-8' src='../static/Image/no-pic.png' alt=''>
  </div>
  <div>
    <img class='grid-item grid-item-9' src='../static/Image/no-pic.png' alt=''>
  </div>
  <div>
    <img class='grid-item grid-item-10' src='../static/Image/no-pic.png' alt=''>
  </div>
</div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
{% endblock body %}