{% extends 'about-base.html' %}

{% block title %}Course Offered{% endblock title %}
{% block content %}

<div class="cource-Box grid grid-three-col">
    <div id="c-box">
        <div class="overlay-c"></div>
    </div>
    <div id="c-box">
        <div class="overlay-c">hey</div>
    </div>  <div id="c-box">
        <div class="overlay-c"></div>
    </div>  <div id="c-box">
        <div class="overlay-c"></div>
    </div>  <div id="c-box">
        <div class="overlay-c"></div>
    </div>  <div id="c-box">
        <div class="overlay-c"></div>
    </div>
</div>
{% endblock content %}

{% block about %}Course {% endblock about %}
{% block aboutcolor %}Offered{% endblock aboutcolor %}
{% block src %}../static/Image/course.jpg{% endblock src %}