{% extends 'base.html' %}
{% block title %}Dress Code-Dr. A.B.J Abdul Kalam Institute of Technology{% endblock title %}
{% block header-img %}background:url(../static/Image/institute-fade.png)no-repeat center center/cover;{% endblock header-img %}
{% block header %} 
<div class="hero-text">
   <h1>Dress Code </h1>
   <p> Dress code sub heading here
   </p>
</div>
{% endblock header %}
{% block body %}
    <section class="Dress-Walcome grid grid-col-two">
        <div class="walcome-left">`</div>

    </section>
{% endblock body %}

