{% extends 'base.html' %}
{% block title %}Eclipse E-sports Club{% endblock title %}

{% block header-img %}
background:url(../static/Image/esport.jpg)no-repeat center center/cover;
{% endblock header-img %}

<!--/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
                                             hero section Text
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/-->
 {% block header %} 
 <div class="hero-text" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
    <h1>Eclipse E-sports Club</h1>
 </div>
 {% endblock header %}
 {% block body %}
 <Section class="esport-section">
  <div class="esport-containor-m grid grid-col-two">
    <div class="m-left" data-aos="zoom-out-right" data-aos-duration="1000">
      <h2>Event Head</h2>
      <div class="event-pic">
        <img src="../static/Image/shivandar.jpg" alt="">
        <div class="event-logo">
          <img src="../static/Image/14.png" alt="">
        </div>
      </div>
      
    </div>
    <div class="m-right" data-aos="zoom-out-left" data-aos-duration="1000">
      <h2>Key points of that event</h2>
      <div class="m-point grid grid-col-two">
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
      </div>
    </div>
  </div>

 </Section>

 <Section class="esport-section" >
  <div class="Dynamic_Top grid grid-col-two">
      <div class="D-left" data-aos="flip-left">
          <p class="technical">#Think<span> Technical</span></p>
          <p class="Akit">Play Hardcore</p>
          <p class="Dynamic">Dynamic Gaming</p>
      </div>
      <div class="D-right" data-aos="zoom-in-left">
          <button class="button-1" role="button">Eclipse E-Sports Club</button>
          <p class="Akit">High tech games</p>
          <p class="Dynamic">Professional Gamers</p>
      </div>
  </div>
  <div class="Dynamic_Bottom">
      <p class="D-bottom" data-aos="zoom-out-down">
          Dr A.P.J Abdul Kalam Institute of Technology is a prestigious institution that offers a wide range of educational opportunities to its students in the field of Engineering. From its excellent faculty and cutting-edge research to its hands-on approaches to learning, IT Tanakpur is a great choice for anyone looking to pursue a B. Tech degree.
          In addition, the institute offers robust extracurricular activities, such as student clubs, sports teams, and internships. 
          Furthermore
      </p>
  </div>
</Section>

<Section class="esport-section">
  <div class="heading" data-aos="fade-down">
      Gaming <span>Highlight</span>
  </div>
  <div class="highlight"  data-aos="fade-up">
      <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../static/Image/1.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/2.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/3.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/4.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/5.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/6.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/7.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/8.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/9.png" alt=""></div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
  </div>

</Section>

<Section class="esport-section">
  <div class="esport-containor">
    <div class="heading" data-aos="zoom-in">
      About Eclipse <span>E-Sports Club</span>
  </div>
    <p class="D-bottom" data-aos="zoom-out">
      eSports have become an increasingly popular form of entertainment across the world in recent years, and Dr A.P.J Abdul Kalam Institute of technology is no exception. The college has embraced the exciting world of eSports by creating an official club that seeks to promote the growth of the sport on campus.
      Institute’s eSports club led by Mr Shivendra Dubey is open to all students and encourages both new and experienced players to join. The team regularly hosts tournaments and other events to promote the game within the college community. The club also has access to the latest in gaming equipment and software.
      The team at Institute is composed of experienced players. They are highly skilled and ambitious, always eager to prove they have what it takes to compete on a stage. Members of the club gain access to exclusive competitions and opportunities to connect with other eSports enthusiasts. 
      The club is continuously growing and evolving, as more students become aware of the exciting world of eSports. In addition to hosting tournaments on campus, the club also engages in open competitions. This provides students with plenty of opportunities to make a name for themselves in the eSports scene.
      By fostering a passionate eSports community on campus, Dr A.P.J Abdul Kalam Institute has been able to provide its students with an engaging and exciting way to discover the world of virtual gaming. With the support of their official eSport club, students can look forward to a wonderful journey as they explore the wild and exciting world of eSports.
      
      
  </p>
  </div>

</Section>

<section class="esport-gallery">
  <div class="heading"data-aos="fade-left"
  data-aos-anchor="#example-anchor"
  data-aos-offset="500"
  data-aos-duration="500">
    Eclipse E-sports Club <span> Gallery</span>
</div>
  <div class="esport-container">
    <div class="m-card">
      <img src="../static/Image/Abhi.jpg">
      <div class="m-card__head">Abhishek</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/Dharti-2.jpg">
      <div class="m-card__head">Dhatri</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/Anuj.jpg">
      <div class="m-card__head">Anuj</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/Laxmi.jpg">
      <div class="m-card__head">Laxmi</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/shivandar.jpg">
      <div class="m-card__head">shivandar </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

 {% endblock body %}