{% extends 'base.html' %}
{% block title %}Event Management Club{% endblock title %}
{% block style1 %} 
  <style>
header{
  background:url(../static/Image/event.jpg)no-repeat center center/cover;
}
  </style>
{% endblock style1 %}
<!--/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
                                             hero section Text
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/-->
 {% block header %} 
 <div class="hero-text" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
    <h1>Event Management Club</h1>
 </div>
 {% endblock header %}
 {% block body %}
 <Section class="esport-section">
  <div class="esport-containor-m grid grid-col-two">
    <div class="m-left" data-aos="zoom-out-right" data-aos-duration="1000">
      <h2>Club Head</h2>
      <div class="event-pic">
        <img src="../static/Image/Dharti-2.jpg" alt="">
        <div class="event-logo">
          <img src="../static/Image/16.png" alt="">
        </div>
      </div>
      
    </div>
    <div class="m-right" data-aos="zoom-out-left" data-aos-duration="1000">
      <h2>Key points of that event</h2>
      <div class="m-point grid grid-col-two">
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
      </div>
    </div>
  </div>

 </Section>

 <Section class="esport-section" >
  <div class="Dynamic_Top grid grid-col-two">
      <div class="D-left" data-aos="flip-left">
          <p class="technical">#Think<span> Technical</span></p>
          <p class="Akit">Play Hardcore</p>
          <p class="Dynamic">Dynamic Gaming</p>
      </div>
      <div class="D-right" data-aos="zoom-in-left">
          <button class="button-1" role="button">Event Management club </button>
          <p class="Akit">High tech games</p>
          <p class="Dynamic">Professional Gamers</p>
      </div>
  </div>
  <div class="Dynamic_Bottom">
      <p class="D-bottom" data-aos="zoom-out-down">
          Dr A.P.J Abdul Kalam Institute of Technology is a prestigious institution that offers a wide range of educational opportunities to its students in the field of Engineering. From its excellent faculty and cutting-edge research to its hands-on approaches to learning, IT Tanakpur is a great choice for anyone looking to pursue a B. Tech degree.
          In addition, the institute offers robust extracurricular activities, such as student clubs, sports teams, and internships. 
          Furthermore
      </p>
  </div>
</Section>

<Section class="esport-section">
  <div class="heading" data-aos="fade-down">
    Event Management club  <span>Highlight</span>
  </div>
  <div class="highlight"  data-aos="fade-up">
      <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../static/Image/1.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/2.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/3.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/4.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/5.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/6.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/7.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/8.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/9.png" alt=""></div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
  </div>

</Section>

<Section class="esport-section">
  <div class="esport-containor">
    <div class="heading" data-aos="zoom-in">
        Event Management  <span>Club</span>
  </div>
    <p class="D-bottom" data-aos="zoom-out">     
Dr A.P.J Abdul Kalam Institute of Technology boasts a vibrant and diverse club that specializes in event management. The Event Management Club (EMC) is comprised of students from all walks of life, from all corners of the campus, from all disciplines. 
The Event management club (EMC) led by Dhatri Upadhayay  is dedicated to providing students with the opportunity to take on a variety of events and have fun while learning about event management. Through the Event management club (EMC), students have the chance to organize and attend a variety of events and even partner with external organizations to host events. These events can be anything from career fairs, to conferences, to annual fests and more. 
The Event management club (EMC) also organizes smaller-scale events, such as lectures and workshops, to help members learn more about different aspects of event management. Members also have access to a variety of resources, such as templates and professional advice, to help them with their projects. 
The Event Management Club is a great place for students to engage with each other and share ideas. It is also a great way to make friends and gain valuable experience. The EMC provides students with an opportunity to learn more about event management, hone their skills, and create lasting memories.
</p>
  </div>

</Section>

<section class="esport-gallery">
  <div class="heading"data-aos="fade-left"
  data-aos-anchor="#example-anchor"
  data-aos-offset="500"
  data-aos-duration="500">
  Event Management club <span> Gallery</span>
</div>
  <div class="esport-container">
    <div class="m-card">
      <img src="../static/Image/Abhi.jpg">
      <div class="m-card__head">Abhishek</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/Dharti-2.jpg">
      <div class="m-card__head">Dhatri</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/Anuj.jpg">
      <div class="m-card__head">Anuj</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/Laxmi.jpg">
      <div class="m-card__head">Laxmi</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/shivandar.jpg">
      <div class="m-card__head">shivandar </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

 {% endblock body %}