{% extends 'about-base.html' %}

{% block title %}Facilities{% endblock title %}
{% block content %}
Veer Madho Singh Bhandari Uttarakhand Technical University, Dehradun was established on 27th January 2005 by Govt. of Uttarakhand through the Uttarakhand Technical University Act 2005. The Veer Madho Singh Bhandari Uttarakhand Technical University campus is situated at NH-72 Suddhowala, Dehradun. Dehradun is the capital of Uttarakhand State and is well connected through Rail, Road and Air transport.

The University has been established in an area of 8.372 hectare and it is the only affiliating University of the state for technical institutions. There are 81Affiliated Private Institutionsand 12 Government Institutions in the University. University is running 08 UG,6 PG and 18 Ph.Dprogrammeswith approximately twenty thousand students in various courses
{% endblock content %}

{% block about %}About {% endblock about %}
{% block aboutcolor %}Facilities{% endblock aboutcolor %}
{% block src %}../static/Image/c2.png{% endblock src %}