{% extends 'base.html' %}
{% block title %}Dr. A.B.J Abdul Kalam Institute of Technology{% endblock title %}
{% block header-img %}background:url(../static/Image/institute-fade.png)no-repeat center center/cover;{% endblock header-img %}

<!--/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
                                             hero section Text
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/-->
 {% block header %} 
 <div class="hero-text">
    <h1>Uttrakhand's most esteemed college</h1>
    <p>Kindeling Spirits Since 2016</p>
 </div>
 {% endblock header %}
 {% block body %}
 <div class="toast">
    <div class="toast-content">
        <i class="fas fa-solid fa-check check"></i>
        <div class="message">
            <span class="text text-1" style=" font-size:25px"><center> Welcome to AKIT</center></span>
            <span class="text text-2"><center>Join Our Community of Learners:</center> </span>
            <span class="text text-2"><center>Admission to AKIT</center> </span>

            <span class="text text-1" style="margin-top:10px; text-align:center;"><a href="/Admission"><button class="button-1" role="button">Apply Now </button></a>
            </span>
        </div>
    </div>
    <i class="fa-solid fa-xmark close"></i>

    <div class="progress"></div>
</div>
<Section class="Dynamic_Section">
    <div class="Dynamic_Top grid grid-col-two">
        <div class="D-left" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            <p class="technical">#Think<span> Technical</span></p>
            <p class="Akit" >Study at AKIT</p>
            <p class="Dynamic">Dynamic Education</p>
        </div>
        <div class="D-right">
            <button class="button-1" role="button">Apply Now </button><span>5 branches</span>
            <p class="Akit">High tech labs</p>
            <p class="Dynamic">Professional Staff</p>
        </div>
    </div>
    <div class="Dynamic_Bottom">
        <p class="D-bottom">
            Dr A.P.J Abdul Kalam Institute of Technology is a prestigious institution that offers a wide range of educational opportunities to its students in the field of Engineering. From its excellent faculty and cutting-edge research to its hands-on approaches to learning, IT Tanakpur is a great choice for anyone looking to pursue a B. Tech degree.
            In addition, the institute offers robust extracurricular activities, such as student clubs, sports teams, and internships. 
            Furthermore, the Institute is committed to creating an inclusive and diverse learning environment. The school ensures equitable access to academic and extracurricular opportunities, academic resources and support services, and a faculty and staff that create an environment of respect and open dialogue. 
            With these resources, students can take advantage of the institute’s generous tuition rates. Anyone looking to gain a quality education from a prestigious institution should strongly consider applying to Dr A.P.J Abdul kalam Institute of Technology, Tanakpur.
            
        </p>
    </div>
    
</Section>


<!-- Highlight -->
<Section class="highlight-section">
    <div class="heading">
        Top <span>Highlight</span>
    </div>
    <div class="highlight">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="../static/Image/1.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/2.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/3.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/4.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/5.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/6.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/7.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/8.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/9.png" alt=""></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
    </div>

</Section>

<section class="about-cart">
    <div class="heading">
        About <span>Us</span>
    </div>
    <div class="card-section">
        <div id="card">
            <img src="../static/Image/institute-fade.png" alt="Institute">
            <div class="card-heading">About Institude</div>
            <p>Dr. A.P.J. Abdul Kalam Institute of Technology is an engineering institute located in Tanakpur, a town in Champawat District, Uttarakhand. Established in 2016 by the Government of Uttarakhand.</p>
            <a href="/Institude" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div id="card">
            <img src="../static/Image/diractor.jpg" alt="Institute">
            <div class="card-heading">About Director</div>
            <p>Prof. Amit Agarwal is a respected figure in the education field. He has been working with the institute and has played an instrumental role in its success.
            </p>
            <a href="/Director" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        </div>       
        <div id="card">
            <img src="../static/Image/no-pic.png" alt="Institute">
            <div class="card-heading">About Dean</div>
            <p>Mr. Manvendra Singh Chauhan, a highly respected leader in the field of education, admired for his dedication to providing high-quality educational opportunities for his students.
            </p>
            <a href="/Dean" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        </div>  
      </div>
</section>

<section class="Announcement-section">
        <div class="heading">
             <span>Announcement <i class="fa-solid fa-bullhorn"></i></span>
        </div>
        <div class="announcement">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
    </div> 
</section>
<!--Rozgar Mela-->

<!-- Program offered -->
<section class="Program-section">
    <div class="heading">
        Programs <span>Offered</span>
    </div>
    <div class="card-section">
        <div id="card">
            <img src="../static/Image/Civil.png" alt="Institute">
            <div class="card-heading">Civil Engineering</div>
            <p>involves the design, construction, and maintenance of infrastructure, such as buildings, bridges, and highways. Civil engineers use their knowledge of physics, mathematics, and materials science to ensure that the structures they design are safe, functional, and cost-effective</p>
            <a href="/Civil_Engineering" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div id="card">
            <img src="../static/Image/Mechanical.png" alt="Institute">
            <div class="card-heading">Mechanical Engineering</div>
            <p>Focuses on the design, manufacturing, and maintenance of mechanical systems. Mechanical engineers design and develop a wide range of products, such as engines, machines, and manufacturing equipment. </p>
            <a href="/Mechanical_Engineering" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
          
        </div>       
        <div id="card">
            <img src="../static/Image/Computer Science.png" alt="Institute">
            <div class="card-heading">Computer Science & Engineering</div>
            <p>An engineering field that deals with computer systems, software, and technology. It includes programming, algorithms, computer architecture, and artificial intelligence.</p>
            <a href="/Computer_Science_and_engineering" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        </div>  
      </div>
      <div class="card-section">
        <div id="card">
            <img src="../static/Image/A.I.png" alt="Institute">
            <div class="card-heading">AI & ML Engineering</div>
            <p>involves using principles of artificial intelligence and machine learning to design and develop intelligent systems. Engineers in this field create algorithms and models that enable machines to learn from data and make decisions based on that learning.             </p>
            <a href="/Artificial_Intelligence_and_Machine_Learning" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div id="card">
            <img src="../static/Image/Robotics.png" alt="Institute">
            <div class="card-heading">Robotics Engineering</div>
            <p>Robotics combines mechanical, electrical, and computer engineering to design and build robots.            </p>
            <a href="/Robotics_and_Automation" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        </div>       
        <div id="card">
            <img src="../static/Image/9.png" alt="Institute">
            <div class="card-heading">Admission Process</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cumque quo sapiente amet illo! Dolore nam aut, veniam corrupti quod repellat animi perspiciatis molestiae quae eveniet cupiditate nulla ipsam obcaecati.</p>
            <a href="/Admission" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        </div>  
    </div>
</section>

<!-- Sports -->
<section class="sport-section">
    <div class="heading">
        Sports<span>Highlights</span>
    </div>
    <div class="sport">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
              <div class="swiper-slide"><img src="../static/Image/no-pic-banner.png" alt=""></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
    </div>
    <div class="heading">
        Sports Achievements/<span>Events</span>
    </div>
    <div class="card-section">
        <div id="card">
            <img src="../static/Image/no-pic.png" alt="Institute">
            <div class="card-heading">Chess competition</div>
            <p>Abhishek Burathi won the intercollege chess competition, showcasing his exceptional skills and strategy. His dedication and hard work paid off, bringing recognition to himself and his college. His achievement serves as an inspiration for other students to pursue their passions and strive for success.</p>
            <a href="/Utu" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div id="card">
            <img src="../static/Image/no-pic.png" alt="Institute">
            <div class="card-heading"> Race</div>
            <p>Esha Rawat  of the institute won the 100m race at the district level competition, displaying excellent speed and endurance. Her hard work and discipline paid off, bringing recognition to himself and the institute.
            </p>
            <a href="/Director" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        </div>       
        <div id="card">
            <img src="../static/Image/no-pic.png" alt="Institute">
            <div class="card-heading">Poster competition</div>
            <p>Dhatri Upadhyay won the university poster-making competition, demonstrating his creative talent and dedication. Her success inspires other students to pursue their creative interests and strive for success.</p>
            <a href="/Dean" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
        </div>  
      </div>
</section>
<!---Location--->
<section class="location-section">
    <div class="heading">
        Location<span></span>
    </div>
    <div class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3487.274556556726!2d80.07940881437763!3d29.068030770988905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a0ffebf6b521ef%3A0x4bf8b44e551b18d7!2sDr.%20APJ%20Abdul%20Kalam%20Institute%20of%20Technology%2C%20Tanakpur!5e0!3m2!1sen!2sin!4v1676180312226!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
{% endblock body %}