{% extends 'base.html' %}
{% block title %}About Institute Dr. A.B.J Abdul Kalam Institute of Technology{% endblock title %}
{% block header-img %}background:url(../static/Image/institute-fade.png)no-repeat center center/cover;{% endblock header-img %}

<!--/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
                                             hero section Text
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/-->
 {% block header %} 
 <div class="hero-text" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
    <h1>About Institute</h1>
 </div>
 {% endblock header %}
 {% block body %}
    <!-- <div class="H-text">Top  <span>Courses</span></div> -->
    <section class="Program-section">
           <div class="H-text">Top  <span>Courses</span></div>
        <div class="card-section">
            <div id="card" data-aos="fade-right">
                <img src="../static/Image/Civil.png" alt="Institute">
                <div class="card-heading">Civil Engineering</div>
                <p>involves the design, construction, and maintenance of infrastructure, such as buildings, bridges, and highways. Civil engineers use their knowledge of physics, mathematics, and materials science to ensure that the structures they design are safe, functional, and cost-effective</p>
                <a href="/Civil_Engineering" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div id="card" data-aos="flip-down">
                <img src="../static/Image/Mechanical.png" alt="Institute">
                <div class="card-heading">Mechanical Engineering</div>
                <p>Focuses on the design, manufacturing, and maintenance of mechanical systems. Mechanical engineers design and develop a wide range of products, such as engines, machines, and manufacturing equipment. </p>
                <a href="/Mechanical_Engineering" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
              
            </div>       
            <div id="card"data-aos="fade-left">
                <img src="../static/Image/Computer Science.png" alt="Institute">
                <div class="card-heading">Computer Science & Engineering</div>
                <p>An engineering field that deals with computer systems, software, and technology. It includes programming, algorithms, computer architecture, and artificial intelligence.</p>
                <a href="/Computer_Science_and_engineering" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
            </div>  
          </div>
          <div class="card-section">
            <div id="card" data-aos="fade-right">
                <img src="../static/Image/A.I.png" alt="Institute">
                <div class="card-heading">AI & ML Engineering</div>
                <p>involves using principles of artificial intelligence and machine learning to design and develop intelligent systems. Engineers in this field create algorithms and models that enable machines to learn from data and make decisions based on that learning.             </p>
                <a href="/Artificial_Intelligence_and_Machine_Learning" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div id="card" data-aos="flip-down">
                <img src="../static/Image/Robotics.png" alt="Institute">
                <div class="card-heading">Robotics Engineering</div>
                <p>Robotics combines mechanical, electrical, and computer engineering to design and build robots.            </p>
                <a href="/Robotics_and_Automation" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
            </div>       
            <div id="card"data-aos="fade-left">
                <img src="../static/Image/9.png" alt="Institute">
                <div class="card-heading">Admission Process</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cumque quo sapiente amet illo! Dolore nam aut, veniam corrupti quod repellat animi perspiciatis molestiae quae eveniet cupiditate nulla ipsam obcaecati.</p>
                <a href="/Admission" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
            </div>  
        </div>
    </section> 

    <section class="about">
            <div class="H-text" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">About  <span>Institute</span></div>
        <div class="a-content-box"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            <p>Dr. A.P.J Abdul Kalam Institute of Technology, Tanakpur is one of the constituent institutes of UTU, Dehradun, established in 2016 by the Govt. of Uttarakhand to promote the technical education. The institute provides undergraduate education in five disciplines i.e., Mechanical Engineering, Computer Science & Engineering, Artificial Intelligence & Machine Learning, Robotics & Automation and Civil Engineering intake of 60 in each branch. The vision of the institute is to produce a world class Technocrats and entrepreneurs for the benefit and upliftment of the society.
                Tanakpur is a town and a municipal board in Champawat district in the Indian state of Uttarakhand. Known in the northern part of India as the gateway for the Purnagiri Temple (around 30 km from here), Tanakpur is a calm and small town located on riverside of Sarda River. It is located at the foothills and is the last plain area on the road to Kumaon zone of Uttarakhand. It acts as a junction for the Kumaon District’s mountainous part. It is also the first point in the Kailash Mana Sarovar Pilgrimage. Gradually benefitting from the nationwide progress, Tanakpur is growing steadily into a buzzing town.
                Being on the Indo-Nepal Border Tanakpur is very important on the security perspective of India as a nation
                The institute campus is well laid with proper electric installations, water supply, underground drainage, etc. The institute has well qualified faculty and well-established laboratories in each discipline. It has library in both the campus with sufficient books.
                </p>
        </div>
    </section>
    <section class="sp">
        <section class="Program-section">
            <div class="H-text" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">About  <span>Clubs</span></div>

            <div class="card-section">
                <div id="card" data-aos="fade-right">
                    <img src="../static/Image/14.png" alt="Institute">
                    <div class="card-heading">E-Sports Club</div>
                    <p>Institute’s eSports club is open to all students and encourages both new and experienced players to join. The team regularly hosts tournaments and other events to promote eSports.
                   </p>
                    <a href="/E_Sport" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div id="card" data-aos="flip-down">
                    <img src="../static/Image/10.png" alt="Institute">
                    <div class="card-heading">Techno Club</div>
                    <p>The tech society serves as a platform for students to pursue their interests in technology and promotes a culture of innovation and collaboration among students and faculty.
                   </p>
                    <a href="/Techno" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
                </div>       
                <div id="card" data-aos="fade-left">
                    <img src="../static/Image/11.png" alt="Institute">
                    <div class="card-heading">LCA Drama Club</div>
                    <p>LCA drama club’s mission is to bring together students of different backgrounds, and levels of experience for the purpose of producing and performing plays of all genres.</p>
                    <a href="/Drama" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
                </div>  
              </div>
              <div class="card-section">
                <div id="card" data-aos="fade-right">
                    <img src="../static/Image/12.png" alt="Institute">
                    <div class="card-heading">Wave Music club</div>
                    <p>The Music Club at Dr A.P.J Abdul Kalam Institute of Technology is a vibrant and creative organization dedicated to provide students with a space to explore, create, and express themselves through music.
                   </p>
                    <a href="/music" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div id="card" data-aos="flip-down">
                    <img src="../static/Image/15.png" alt="Institute">
                    <div class="card-heading">Technical club</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cumque quo sapiente amet illo! Dolore nam aut, veniam corrupti quod repellat animi perspiciatis molestiae quae eveniet cupiditate nulla ipsam obcaecati.</p><br>
                    <a href="/Technical" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
                </div>       
                <div id="card" data-aos="fade-left">
                    <img src="../static/Image/13.png" alt="Institute">
                    <div class="card-heading">Start-up club</div>
                    <p>The Startup Club at Institute is a great opportunity for students to explore their entrepreneurial ideas and gain valuable experience in the field of business and entrepreneurship.
                   </p>
                    <a href="/Dean" class="card-link">Read More <i style = "margin-left:5px;"class="fa-solid fa-arrow-right"></i></a>
                </div>  
         </div>
         </section>
    </section>
 {% endblock body %}
