{% extends 'd_base.html' %}
{% block title %}Robotics and Automation Engineering{% endblock title %}
{% block d-header %} 
<div class="hero-text">
   <h1>Robotics and Automation Engineering</h1>
</div>
{% endblock d-header %}
{% block d-header-img %}background:url(../static/Image/institute-fade.png)no-repeat center center/cover;{% endblock d-header-img %}

{% block banner_img %}background: url(../static/Image/no-pic.png) 50% 50% / cover no-repeat;{% endblock banner_img %}
{% block Branch %}Robotics and Automation Engineering{% endblock Branch %}
{% block Branch-content %}Robotics and Automation Engineering   Lorem ipsum dolor sit, amet consectetur adipisicing elit. In expedita consequuntur deleniti neque dolor quisquam adipisci, ratione alias sapiente et ullam? Voluptatibus corporis ut, reiciendis non eius soluta eveniet velit?
Lorem ipsum dolor sit, amet consectetur adipisicing elit. In expedita consequuntur deleniti neque dolor quisquam adipisci, ratione alias sapiente et ullam? Voluptatibus corporis ut, reiciendis non eius soluta eveniet velit?
Lorem ipsum dolor sit, amet consectetur adipisicing elit. In expedita consequuntur deleniti neque dolor quisquam adipisci, ratione alias sapiente et ullam? Voluptatibus corporis ut, reiciendis non eius soluta eveniet velit?
{% endblock Branch-content %}

{% block about %}
Focuses on the design, manufacturing, and maintenance of mechanical systems. Mechanical engineers design and develop a wide range of products, such as engines, machines, and manufacturing equipment. They apply principles of physics, mathematics, and materials science to create efficient, reliable, and safe products.
{% endblock about %}

{% block Hod-pic %}../static/Image/no-pic.png{% endblock Hod-pic %}

{% block f1-img %}../static/Image/no-pic.png{% endblock f1-img %}
{% block f1-name %}Prof. Amit Agarwal{% endblock f1-name %}

{% block f2-img %}../static/Image/no-pic.png{% endblock f2-img %}
{% block f2-name %}Prof. Amit Agarwal{% endblock f2-name %}

{% block f3-img %}../static/Image/no-pic.png{% endblock f3-img %}
{% block f3-name %}Prof. Amit Agarwal{% endblock f3-name %}

{% block f4-img %}../static/Image/no-pic.png{% endblock f4-img %}
{% block f4-name %}Prof. Amit Agarwal{% endblock f4-name %}


{% block f-box1 %}Social Media Audit{% endblock f-box1 %}
{% block f-box2 %}Planning{% endblock f-box2 %}
{% block f-box3 %}Branding & Design{% endblock f-box3 %}
{% block f-box4 %}Content Creation{% endblock f-box4 %}
{% block f-box5 %}Community Management{% endblock f-box5 %}
{% block f-box6 %}Influencer Management{% endblock f-box6 %}
{% block f-box7 %}Crisis Management{% endblock f-box7 %}
{% block f-box8 %}Analytics{% endblock f-box8 %}

{% block Lab-name %}Labs{% endblock Lab-name %} 
{% block lab-content %}Lorem ipsum dolor sit, amet consectetur adipisicing elit. In expedita consequuntur deleniti neque dolor quisquam adipisci, ratione alias sapiente et ullam? Voluptatibus corporis ut, reiciendis non eius soluta eveniet velit?{% endblock lab-content %}
{% block lab-img %}../static/Image/no-pic.png{% endblock lab-img %}

{% block Syllabus-pdf-y1 %}../static/Doc/test.pdf{% endblock Syllabus-pdf-y1 %}
{% block Syllabus-pdf-y2 %}{% endblock Syllabus-pdf-y2 %}
{% block Syllabus-pdf-y3 %}{% endblock Syllabus-pdf-y3 %}
{% block Syllabus-pdf-y4 %}{% endblock Syllabus-pdf-y4 %}

{% block g-heading %}Some key figures of <br> the AKIT{% endblock g-heading %}
{% block g-list1 %}+150% Student {% endblock g-list1 %}
{% block g-list2 %}+35 AKIT{% endblock g-list2 %}
{% block g-list3 %}+400k ABhi{% endblock g-list3 %}
