{% extends 'base.html' %}
{% block title %}Technical Club{% endblock title %}

{% block header-img %}
background:url(../static/Image/technical.jpg)no-repeat center center/cover;
{% endblock header-img %}
<!--/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
                                             hero section Text
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/-->
 {% block header %} 
 <div class="hero-text" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
    <h1>Technical Club</h1>
 </div>
 {% endblock header %}

 {% block body %}
 <Section class="esport-section">
  <div class="esport-containor-m grid grid-col-two">
    <div class="m-left" data-aos="zoom-out-right" data-aos-duration="1000">
      <h2>Club Head</h2>
      <div class="event-pic">
        <img src="../static/Image/Technical-head.jpg" alt="">
        <div class="event-logo">
          <img src="../static/Image/15.png" alt="">
        </div>
      </div>
    </div>
    <div class="m-right" data-aos="zoom-out-left" data-aos-duration="1000">
      <h2>Key points of that event</h2>
      <div class="m-point grid grid-col-two">
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
        <div class="m-box"></div>
      </div>
    </div>
  </div>

 </Section>

 <Section class="esport-section" >
  <div class="Dynamic_Top grid grid-col-two">
      <div class="D-left" data-aos="flip-left">
          <p class="technical">#Think<span> Technical</span></p>
          <p class="Akit">Play Hardcore</p>
          <p class="Dynamic">Dynamic Gaming</p>
      </div>
      <div class="D-right" data-aos="zoom-in-left">
          <button class="button-1" role="button">Technical Club</button>
          <p class="Akit">High tech games</p>
          <p class="Dynamic">Professional Gamers</p>
      </div>
  </div>
  <div class="Dynamic_Bottom">
      <p class="D-bottom" data-aos="zoom-out-down">
          Dr A.P.J Abdul Kalam Institute of Technology is a prestigious institution that offers a wide range of educational opportunities to its students in the field of Engineering. From its excellent faculty and cutting-edge research to its hands-on approaches to learning, IT Tanakpur is a great choice for anyone looking to pursue a B. Tech degree.
          In addition, the institute offers robust extracurricular activities, such as student clubs, sports teams, and internships. 
          Furthermore
      </p>
  </div>
</Section>

<Section class="esport-section">
  <div class="heading" data-aos="fade-down">
    Technical  <span>Highlight</span>
  </div>
  <div class="highlight"  data-aos="fade-up">
      <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../static/Image/1.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/2.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/3.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/4.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/5.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/6.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/7.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/8.png" alt=""></div>
            <div class="swiper-slide"><img src="../static/Image/9.png" alt=""></div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
  </div>

</Section>

<Section class="esport-section">
  <div class="esport-containor">
    <div class="heading" data-aos="zoom-in">
        Technical<span>Club</span>
  </div>
    <p class="D-bottom" data-aos="zoom-out">
        Institute is proud to introduce its Drama Club which is named “Lights, Camera, Action-Drama Club” or LCA drama club which is led by Mr Anukul Singh Bisht. LCA drama club’s mission is to bring together students of different backgrounds, and levels of experience for the purpose of producing and performing plays of all genres. LCA club members learn about acting techniques, proper auditioning, improvisational games, and much more. 
        Institute understands that these days, it is important for students to make the most of their education and to learn valuable skills from the people around them. The Drama Club provides an opportunity for students to gain real-world experience that they would not be able to receive elsewhere. Through the club, students will have the chance to work with professionals, write and direct their own plays, and perform on stage.
        We believe that by providing a safe and creative atmosphere, students will be able to learn and grow in their abilities while having a great time. Institute believes that by giving students these experiences and skills, they will be fare better than others in the field of acting and drama. 
        The Drama Club is open to anyone interested in taking part in theater and production and welcomes all levels of experience and encourage everyone to join, regardless of their skills. Club members are always excited to see new level of talent and enthusiasm that new members bring to the club.
  </p>
  </div>

</Section>

<section class="esport-gallery">
  <div class="heading"data-aos="fade-left"
  data-aos-anchor="#example-anchor"
  data-aos-offset="500"
  data-aos-duration="500">
  Technical club <span> Gallery</span>
</div>
  <div class="esport-container">
    <div class="m-card">
      <img src="../static/Image/Abhi.jpg">
      <div class="m-card__head">Abhishek</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/Dharti-2.jpg">
      <div class="m-card__head">Dhatri</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/Anuj.jpg">
      <div class="m-card__head">Anuj</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/Laxmi.jpg">
      <div class="m-card__head">Laxmi</div>
    </div>
    <div class="m-card">
      <img src="../static/Image/shivandar.jpg">
      <div class="m-card__head">shivandar </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

 {% endblock body %}