<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .ccc{
            width: 100vw;
            height: 100vh;
            position: relative;
            overflow-x: hidden;
        }
     
        i{
            color:#fff;
        }
    </style>
</head>
<body>
    <div class="ccc">
        <div class="message-box">
            <i class="fa-solid fa-messages"></i>
        </div>
    </div>
   
</body>
</html>